@model IEnumerable<WebAppTest.Core.Entities.Book>
@{
    ViewData["Title"] = "Books Manager";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Books Manager</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Main</a></li>
                    <li class="breadcrumb-item active">Books</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card">
                    <div class="card-header with-border">
                        <button id="btnAddBook" type="button" class="btn btn-primary" onclick="webapptest.books_manager.displayAddEditBook(0)">Add Book</button>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="tblBooks" class="table table-bordered table-striped dt-responsive">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Page Number</th>
                                    <th>Year</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PagesNumber)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Anio)</td>
                                        <td>
                                            <button class="btn btn-default" onclick="webapptest.books_manager.displayAddEditBook(@item.Id)">Edit</button>
                                            <button class="btn btn-danger" onclick="webapptest.books_manager.displayDeleteBook(@item.Id)"> Delete</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="modal fade" id="bookFormModel" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header bg-info">
                                        <h3 id="title" class="modal-title">Create Book</h3>
                                        <a href="#" class="close" data-dismiss="modal">×</a>
                                    </div>
                                    <div class="modal-body" id="bookFormModelDiv">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="card-footer">
                        Footer
                    </div>
                    <!-- /.box-footer-->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

@section Scripts {
    <script src="~/scripts/main/webapptest.books_manager.js"></script>

    <!-- page script -->
    <script>
        $(function () {
            webapptest.books_manager.displayListBooks();
        })
    </script>
}